{% extends "base_form.html" %}

{% block form_title %}
    Добавление вида ассетов
{% endblock %}

{% block form_content %}
    <div class="form-group mb-3">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group mb-3">
        {{ form.description.label }}
        {{ form.description(class="form-control") }}
        {% for error in form.description.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group mb-3">
        {{ form.image.label }}
        {{ form.image(class="form-control") }}
        {% for error in form.image.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
{% endblock %}
