{% extends "base.html" %}

{% block content %}
<style>
  #create-new-asset-btn {
    font-weight: 600;
    text-align: left;
    padding-left: 16px;
  }

  #create-new-asset-btn {
    background: #f3f3f3;
  }

  #create-new-asset-btn:hover {
    background: #d3d3d3;
  }

</style>

<div class="container">
  <ul class="nav nav-underline mb-3">
    <li class="nav-item">
      <a class="nav-link active disabled">Асеты</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('assets.types') }}">Виды асетов</a>
    </li>
  </ul>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Адрес</th>
      <th scope="col">Вид</th>
      <th scope="col">Название</th>
      <th scope="col">Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr onclick="location='{{ url_for('assets.edit', asset_id=0) }}'">
      <td id="create-new-asset-btn" colspan="5">
        + Добавить новый асет
      </td>
    </tr>
    {% for asset in assets %}
    <tr onclick="location='{{ url_for('assets.edit', asset_id=asset.id) }}'">
      <td scope="row">{{ loop.index }}</td>
      <td>{{ asset.address }}</td>
      <td>{{ asset.type.name }}</td>
      <td>{{ asset.name }}</td>
      <td>{{ asset.status.value }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
