{% extends "base.html" %}

{% block content %}
<h3>Виды асетов <a href="{{ url_for('assets.index') }}">Асеты</a></h3>
<div>
  <a href="{{ url_for('assets.edit_type', type_id=0) }}" type="button" class="btn btn-dark btn-lg">Добавить</a>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Изображение</th>
    <th scope="col">Название</th>
    <th scope="col">Описание</th>
  </tr>
  </thead>
  <tbody>
  {% for asset_type in data %}
  <tr onclick="location='{{ url_for('assets.edit_type', type_id=asset_type.id) }}'">
    <th scope="row">{{ loop.index }}</th>
    {% if asset_type.image %}
      <td><img width="150" src="{{ url_for('static', filename='/assets/uploads/' + asset_type.image) }}"></td>
    {% else %}
      <td><img width="150" src="{{ url_for('static', filename='/img/assets_default_image.png') }}"></td>
    {% endif %}
    <td>{{ asset_type.name }}</td>
    <td>{{ asset_type.description }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
